:host .error{
    color: red;
   font-weight: bold ;
}
:host .container{
  background-color: white;
    display:block;
    border: 1px gray solid ;
    margin: 12px auto;
    width: 400px;
    height: 560px;
    box-sizing: border-box;
    box-shadow:  5px 10px #888888;
    border-radius: 15px;
}
:host p{
    text-align: left;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 15px;
    
}
:host p button{
    margin-left: 30%;
    background-color: cadetblue;
    color:whitesmoke;
    border-radius: 25px;
    box-shadow: 2px 1px #ac7c7c;
    height: 40px;
    
}
:host p button:hover{
    background-color: azure;
    color:black;
}
:host h2{
    text-align: center;
}
