
<div class="container">
    <h2>Create New Song</h2>
    <p> ID *: &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<input #id> </p>
    <p> Title *:&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<input #title required> </p>
    <p> Description *:&#160;&#160; <input #description required> </p>
    <p> Creater *: &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; <input #creater required> </p>
    <p> Image Url: &#160;&#160;&#160;&#160;&#160;&#160;&#160; <input #imgUrl> </p>
    <p> Type: &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<input #type> </p>
    <p> Tags:&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; <input #tags> </p>
    <p> <button (click)="addcontent(id.value,title.value,description.value,creater.value,imgUrl.value,type.value,tags.value)">Add New Song</button></p>
    <p class="error">{{errorMsg}}</p>
    </div>
