:host{
   
    h1{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 2px solid burlywood;
        background-color: antiquewhite;
        border-radius: 15px;
        box-shadow: 15px 10px grey;
    }
    .tit{
        font-size: 30px;
        font-weight: bold;
        
    }
    
}
