
<!--<div id="songCards" style="font-size: 1em; border: 1px solid black; border-width: 150px; padding-left: 25px; padding-bottom: 25px;">
  <h1 style="text-align: center;">My Favourite Songs Card</h1>
</div>-->
<div class="row"style="padding-left:25px; border: 1px solid black; border-width: 200px;">
  <h1 class="card-header" style="text-align: center;">My Favourite Songs Cards</h1>
  <div class="card" *ngFor="let items of contentList;" style="max-width: 30rem; border: 1px solid black;">
      
      <div class="card-body" style="text-align: center;">
        <h2 class="card-title"><strong>Title: </strong> {{ items.title }}</h2>
        <img src={{items.imgURL}} style="width: 200px;"><br/><br/>
        <strong>By: </strong>{{ items.creator }}<br />
        <p class="card-text"><strong>Description: </strong> {{ items.description }}</p><hr>
       
     
      </div>
    </div>
</div>
