
<!--<div id="songCards" style="font-size: 1em; border: 1px solid black; border-width: 150px; padding-left: 25px; padding-bottom: 25px;">
  <h1 style="text-align: center;">My Favourite Songs Card</h1>
</div>-->
<div class="row" >
  <div class="container {{songs? songs.title: ''}}" *ngIf="songs">
    <h1 class="title "*ngIf="songs.title"><strong>Title:</strong> {{songs? songs.title: ""}}</h1>
    <img class="img" (click)="clickevent()" *ngIf="songs.imgURL"  [src]='songs.imgURL'/>
    <img class="img" (click)="clickevent()" *ngIf="!songs.imgURL" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Tarkan_%289%29.jpg/640px-Tarkan_%289%29.jpg"/>
    
    <div class="creator" *ngIf="songs.creator"><strong>Creater:</strong>  {{songs? songs.creator:""}}</div>
    <div class="type" *ngIf="songs.type" appHoverEffect styling="line" ><strong>Type:</strong>{{songs? songs.type :""}} </div>
    <div class="tags"*ngIf="songs.tags" appHoverEffect styling="weight"><strong>Tags:</strong>
        <span class="tag" *ngFor="let tag of songs.tags" appHoverEffect styling="weight" >
            {{tag}}
        </span>  
    </div>
    <div class="description" *ngIf="songs.description"><strong> Description: </strong> {{songs? songs.description:""}} </div>
    
    
    
</div>
</div>


