:host{
    display:block;
    border: 1px gray solid ;
    margin: 12px auto;
    width: 400px;
    height: 560px;
    box-sizing: border-box;
    box-shadow:  5px 10px #888888;
    border-radius: 15px;
    margin-bottom: 5px;
    .container{
        padding: 10px;
    }
    h1{
   text-align: center;
}
div{
   text-align: center;
}
.img{
    height: 300px;
    width: 200px;
    padding: 5px 5px 5px;
   }

}
:host.is-first{
border: 2px solid  gray;}

:host.noType{
    background-color: rgb(225, 237, 241);
}
:host.popType{
    background-color: rgba(184, 218, 184, 0.603);
}
:host.AfrobeastType{
    background-color: rgba(255, 192, 203, 0.5);
}
:host .selected{
    background-color: rgba(255, 255, 2, 0.767);
}